<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">📚 BookSwap</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/books">Books</a>
        <a class="nav-link" href="/books/new">Sell Your Books</a>
        <% if (currentUser) { %>
          <a class="nav-link" href="/books/myuploads">My Uploads</a>
          <% } %>
      </div>

      <div class="navbar-nav ms-auto">
        <% if (!currentUser) { %>
          <a href="/login" class="nav-link">Login</a>
          <a href="/register" class="nav-link">Register</a>
          <% } else { %>
            <span class="navbar-text me-2 text-light">Hi, <%= currentUser.username %>!</span>
            <a href="/logout" class="nav-link">Logout</a>
            <% } %>
      </div>
    </div>
  </div>
</nav>